<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ company.name }}</title>
</head>
<body>
    <p>{{ user.username }}</p>
    <p>{{ middleware_company }}</p>
    <p>{{ company.name }}</p>
    <p>{{ company.country }}</p>
    <p>{{ company.founded_date }}</p>
    <ul>
        {% for product in company.products.all %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for building in company.buildings.all %}
            <li>{{ building.name }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for shop in company.shops.all %}
            <li>{{ shop.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>