{% extends 'trading/base.html' %}
{% block content %}

<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-company-tab" data-toggle="tab" href="#nav-company" role="tab" aria-controls="nav-company" aria-selected="true">Company</a>
    <a class="nav-item nav-link" id="nav-building-tab" data-toggle="tab" href="#nav-building" role="tab" aria-controls="nav-building" aria-selected="false">Buildings</a>
    <a class="nav-item nav-link" id="nav-shop-tab" data-toggle="tab" href="#nav-shop" role="tab" aria-controls="nav-shop" aria-selected="false">Shops</a>
    <a class="nav-item nav-link" id="nav-employee-tab" data-toggle="tab" href="#nav-employee" role="tab" aria-controls="nav-employee" aria-selected="false">Employees</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">
      <br>
      <h1>{{ company.name }}</h1>
      <p>Address: {{ company.country }}</p>
      <p>Founded at: {{ company.founded_date }}</p>
      <ul>Products:
            {% for product in company.products.all %}
                <li>{{ product.name }}</li>
            {% endfor %}
      </ul>
  </div>
  <div class="tab-pane fade" id="nav-building" role="tabpanel" aria-labelledby="nav-building-tab">
      <br>
      <h1>Buildings:</h1>
      <ul>
            {% for building in company.buildings.all %}
                <li><strong>{{ building.name }}</strong>, {{ building.country }}, {{ building.address }}</li>
            {% endfor %}
      </ul>
  </div>
  <div class="tab-pane fade" id="nav-shop" role="tabpanel" aria-labelledby="nav-shop-tab">
      <br>
      <h1>Shops:</h1>
      <ul>
           {% for shop in company.shops.all %}
                <li><strong>{{ shop.name }}</strong> <small> ( {{ shop.building }} )</small> <a href="{% url 'shop_update' pk=shop.pk  %}">Update</a></li>
           {% endfor %}
      </ul>
       <a href="{% url 'new_shop' %}">New Shop</a>
  </div>
  <div class="tab-pane fade" id="nav-employee" role="tabpanel" aria-labelledby="nav-employee-tab">
      <br>
      <h1>Emploees</h1>
      <ul>
          {% for employee in company.employees.all %}
            <li>{{ employee.username }} (
                <small>{% for r in employee.company.all %}
                        {% if r.company == company %}
                            {{ r.role }}
                        {% endif %}
                    {% endfor %}
                </small> )
            </li>
          {% endfor %}
      </ul>
  </div>
</div>
<br>

{% endblock %}